# Introduction to Python Functions

## What are functions?
- functions are stand-alone bits of code that perform a particular function
- when well done, they have a pretty limited scope

## Why use functions?
- functions contribute greatly to creating modularized code
- modularized code describes a software design technique that emphasizes structuring a program into independent, interchangeable parts
- ideally, each can stand-alone and will execute one limited aspect of the desired functionality
- this allows users to easily incorporate an existing function in a new way without having to rewrite it
- an example might be a function that adds 2 numbers together

## Introduction example

In [1]:
def celsius_fahrenheit():
    # F = (C * 9/5) + 32
    fahrenheit = (22 * (9 / 5)) + 32
    return fahrenheit

In [2]:
celsius_fahrenheit()

71.6

- you can see here that we have a function that converts celsius to fahrenheit, using a celsius measure of 22 (room temp)
- note how we use `def` to define a function of a give name, in this case `celsius_fehrenheit`
- the parentheses allow you to pass arguments to the function, which we haven't done in this case
- once the function has been created, you can run it by typing `function_name()`
- if arguments are desired, they would be included inside the parentheses
- one big issue with this function is that it is way too limited, only converting one measure of celcius to fahrenheit
- let's make it a bit more flexible by adding an argument

In [3]:
def celsius_fahrenheit(C):
    # F = (C * 9/5) + 32
    fahrenheit = (C * (9 / 5)) + 32
    return fahrenheit

In [4]:
celsius_fahrenheit()

TypeError: celsius_fahrenheit() missing 1 required positional argument: 'C'

- notice the error we receive if we called it like we did before, which is telling us that an argument is required
- let's give it one

In [5]:
celsius_fahrenheit(C=22)

71.6

- you can see this recapitulated what we did before by passing 22 celsius and getting fahrenheit back
- this is more flexible, however, because we aren't constrained to using only 22

In [6]:
celsius_fahrenheit(30)

86.0

- another important point is that you can define a default value, which is useful in avoiding errors and making fuctions 'dummy-proof', though it isn't always a good idea

In [7]:
def celsius_fahrenheit(C=22):
    # F = (C * 9/5) + 32
    fahrenheit = (C * (9 / 5)) + 32
    return fahrenheit

In [8]:
celsius_fahrenheit()

71.6

- you can see that if no argument is passed, it automatically uses the 5 specified
- but we can still pass an argument and override the default

In [9]:
celsius_fahrenheit(15)

59.0

### Challenge
- create a function that converts fahrenheit to celsius, much like the one we already have
- also set default argument values so that it will produce some result, no matter what
- lastly, determine what the difference is between the supplied temperature, which you are converting to celsius, and a 2nd argument that supplies a temperature that is already in celsius

In [10]:
def fahrenheit_celsius(F=67, check=22):
    # C = (F - 32) x (5 / 9)
    celsius = (F - 32) * (5 / 9)
    diff_cel = check - celsius
    return diff_cel

In [11]:
fahrenheit_celsius()

2.5555555555555536

In [12]:
fahrenheit_celsius(F=5)

37.0

In [13]:
fahrenheit_celsius(5)

37.0

In [14]:
fahrenheit_celsius(check=6)

-13.444444444444446

In [15]:
fahrenheit_celsius(F=33, check=67)

66.44444444444444

In [16]:
fahrenheit_celsius(32, 48)

48.0

## Advanced example
- so far what we have done is pretty simple, but you now know the basics of creating modular code with functions
- let's go back to our full dataset of demography and human health data for US counties and write a meaningful function based on that
- thinking back to yesterday, what do you have to do first to start working with that data?

In [17]:
import pandas as pd

- now you can do the actual data import

In [18]:
dem_health_data = pd.read_csv("../data/Dem_Health_Full.txt", sep="\t")

In [19]:
dem_health_data.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0

- you should recognize what you are looking at
- only difference is that this includes data for all states, and not just 1
- before, when everything was separated by state, you created a python script and then used the shell to run it on all states
- however, what if you want to compare the data in a differet way?
- you could make a new script that does what you desire and run it in the shell
- but let's do this totally in python using a function
- let's say we want to split data into 2 datasets: one that includes cities with very large populations and one that doesn't, and returns the one with cities
- create a function to do this

In [24]:
def get_urban(df):
    urban = df.loc[df['Population_Density'] >= 1000, :]
    return urban

In [26]:
urban_counties = get_urban(dem_health_data)

In [27]:
urban_counties.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
184,Alameda,CA,1964,10.7,4.8,7.6,65423.0,29143.0
190,Contra Costa,CA,1414,7.5,4.0,9.4,39653.0,20836.0
202,Los Angeles,CA,2447,17.7,5.4,7.9,457033.0,181018.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0
217,Sacramento,CA,1412,13.7,5.6,10.9,58592.0,28774.0

- but what if we want both urban and rural
- turns out it is pretty easy to do that once you see an example
- in this case, we are going to return a list that includes 2 elements: the urban subset and the rural subset

In [48]:
def split_county_by_pop(df):
    urban = df.loc[df['Population_Density'] >= 1000, :]
    rural = df.loc[df['Population_Density'] < 1000, :]
    return [urban, rural]

In [49]:
urban_rural_counties = split_county_by_pop(dem_health_data)

In [50]:
urban_rural_counties.head()

AttributeError: 'list' object has no attribute 'head'

- oops, we can't see the head of a list like we can a data frame
- let's try printing

In [51]:
urban_rural_counties

[                     County State  Population_Density  Poverty  \
 184                 Alameda    CA                1964     10.7
 190            Contra Costa    CA                1414      7.5
 202             Los Angeles    CA                2447     17.7
 213                  Orange    CA                3785     10.6
 217              Sacramento    CA                1412     13.7
 221           San Francisco    CA               15837     12.0
 224               San Mateo    CA                1558      6.8
 226             Santa Clara    CA                1316      8.8
 258                  Denver    CO                3638     15.1
 306               Fairfield    CT                1443      7.3
 307                Hartford    CT                1193      9.2
 310               New Haven    CT                1398      9.4
 315              New Castle    DE                1227      8.2
 317              Washington    DC                8966     17.5
 323                 Broward    FL                1475     12.5
 332                   Duval    FL                1068     12.8
 345            Hillsborough    FL                1077     13.0
 360              Miami-Dade    FL                1221     18.9
 365                  Orange    FL                1127     13.2
 369                Pinellas    FL                3315     12.1
 376                Seminole    FL                1303      9.1
 415                 Clayton    GA                1879     13.9
 417                    Cobb    GA                1952      9.6
 428                  DeKalb    GA                2528     13.2
 444                  Fulton    GA                1732     16.2
 451                Gwinnett    GA                1678      8.2
 545                Honolulu    HI                1509     10.5
 608                    Cook    IL                5608     14.5
 614                  DuPage    IL                2785      5.9
 641                    Lake    IL                1570      6.9
 ...                     ...   ...                 ...      ...
 2917   Charlottesville City    VA                3941     17.8
 2919  Colonial Heights City    VA                2349      7.4
 2920         Covington City    VA                1094     12.7
 2921          Danville City    VA                1072     19.3
 2923           Fairfax City    VA                3481      5.5
 2924      Falls Church City    VA                5418      3.0
 2925          Franklin City    VA                1029     17.3
 2926    Fredericksburg City    VA                1971     14.1
 2928           Hampton City    VA                2811     13.1
 2929      Harrisonburg City    VA                2303     17.9
 2930          Hopewell City    VA                2216     16.4
 2931         Lexington City    VA                2721     16.1
 2932         Lynchburg City    VA                1356     17.5
 2933          Manassas City    VA                3783      7.5
 2934     Manassas Park City    VA                4667      6.5
 2935      Martinsville City    VA                1362     17.9
 2936      Newport News City    VA                2634     14.0
 2937           Norfolk City    VA                4317     19.8
 2939        Petersburg City    VA                1425     18.5
 2941        Portsmouth City    VA                3021     16.5
 2942           Radford City    VA                1484     18.5
 2943          Richmond City    VA                3226     20.2
 2944           Roanoke City    VA                2160     16.9
 2945             Salem City    VA                1690      8.4
 2946          Staunton City    VA                1184     13.1
 2948    Virginia Beach City    VA                1766      8.0
 2949        Waynesboro City    VA                1385     13.1
 2950      Williamsburg City    VA                1376     17.5
 2951        Winchester City    VA                2692     12.0
 3086              Milwaukee    WI                3815     16.2

       Infant_Mortality  Suicide  Total_Births  Total_Deaths
 184                4.8      7.6       65423.0       29143.0
 190                4.0      9.4       39653.0       20836.0
 202                5.4      7.9      457033.0      181018.0
 213                4.7      7.6      135702.0       51060.0
 217                5.6     10.9       58592.0       28774.0
 221                3.9     11.0       25255.0       18969.0
 224                4.1      7.1       30483.0       14256.0
 226                4.0      7.6       81257.0       26130.0
 258                6.7     14.2       34354.0       13530.0
 306                5.3      6.3       36336.0       21011.0
 307                6.3      7.6       31212.0       23682.0
 310                6.8      7.6       30738.0       23078.0
 315                9.4     11.1       21109.0       12346.0
 317               10.9      6.0       22742.0       17375.0
 323                6.5     13.3       67007.0       48248.0
 332               10.3     14.5       36661.0       20511.0
 345                8.7     12.6       45253.0       26268.0
 360                5.9      9.1       97091.0       55624.0
 365                7.5      9.9       43304.0       19432.0
 369                7.6     16.3       27592.0       37641.0
 376                5.5     13.0       13633.0        8050.0
 415               10.2     11.5       13391.0        4067.0
 417                6.4      9.2       31600.0        9967.0
 428                9.2      9.7       32375.0       11887.0
 444                8.7      8.7       40860.0       18471.0
 451                6.5      9.6       34815.0        8012.0
 545                7.3      9.5       38506.0       18565.0
 608                8.5      7.5      247949.0      134307.0
 614                6.6      7.3       39133.0       17092.0
 641                5.0      7.6       31544.0       11514.0
 ...                ...      ...           ...           ...
 2917               7.4     11.6        2553.0        1737.0
 2919               6.7     13.8        2847.0        2044.0
 2920               6.6  -1111.1         834.0        1031.0
 2921              10.1     19.3        2861.0        3768.0
 2923               6.7     13.2        3271.0        2080.0
 2924               5.4      9.4        1866.0         790.0
 2925               9.8     11.3        1154.0        1332.0
 2926               9.1     15.1        3936.0        2179.0
 2928              11.6      8.5        5611.0        3410.0
 2929               5.9     10.4        2382.0        1298.0
 2930              10.5     14.4        3525.0        2654.0
 2931               NaN  -1111.1         558.0         767.0
 2932               9.2     11.0        4221.0        4057.0
 2933               4.5  -1111.1        3593.0         959.0
 2934               6.3  -1111.1        1915.0         347.0
 2935               2.4     19.9        1907.0        2598.0
 2936              11.7     10.1        9587.0        4220.0
 2937              11.0     12.6       12143.0        6226.0
 2939              12.6      9.1        2706.0        2471.0
 2941              14.2     13.4        4726.0        3254.0
 2942               6.8     19.1        1317.0        1023.0
 2943              14.8     11.5        9287.0        6989.0
 2944              10.5     16.1        6456.0        6277.0
 2945               7.6     11.2        2528.0        3045.0
 2946               6.6     14.5        2527.0        2964.0
 2948               7.1      9.8       18786.0        7655.0
 2949               8.1     19.7        2731.0        2330.0
 2950              11.2     16.4        1192.0        1288.0
 2951               8.0     15.8        3336.0        2628.0
 3086              10.4     11.4       43885.0       26557.0

 [137 rows x 8 columns],
            County State  Population_Density  Poverty  Infant_Mortality  \
 0         Autauga    AL                  82     10.4               5.9
 1         Baldwin    AL                 102     10.2               7.1
 2         Barbour    AL                  32     22.1               7.1
 3            Bibb    AL                  35     16.8               9.8
 4          Blount    AL                  86     11.9               9.0
 5         Bullock    AL                  18     26.2              13.3
 6          Butler    AL                  27     20.0               5.8
 7         Calhoun    AL                 184     16.4               9.5
 8        Chambers    AL                  59     16.2               7.5
 9        Cherokee    AL                  44     15.2               7.4
 10        Chilton    AL                  60     14.9              10.5
 11        Choctaw    AL                  16     18.7              10.8
 12         Clarke    AL                  22     19.2               7.1
 13           Clay    AL                  23     14.0              10.2
 14       Cleburne    AL                  26     14.0               7.0
 15         Coffee    AL                  67     13.7               2.9
 16        Colbert    AL                  92     14.0               8.2
 17        Conecuh    AL                  16     22.0              14.4
 18          Coosa    AL                  17     13.4              13.9
 19      Covington    AL                  36     17.5               6.2
 20       Crenshaw    AL                  23     17.6              11.4
 21        Cullman    AL                 108     13.3               6.9
 22           Dale    AL                  87     15.8               7.9
 23         Dallas    AL                  45     25.0               9.6
 24         DeKalb    AL                  86     15.1               7.7
 25         Elmore    AL                 119     12.5               7.6
 26       Escambia    AL                  40     18.6              12.3
 27         Etowah    AL                 193     15.7               8.7
 28        Fayette    AL                  29     16.1               7.3
 29       Franklin    AL                  48     17.4              11.5
 ...           ...   ...                 ...      ...               ...
 3111     Washburn    WI                  21      9.7               7.0
 3112   Washington    WI                 293      4.6               3.8
 3113     Waukesha    WI                 682      4.1               3.0
 3114      Waupaca    WI                  70      7.4               8.4
 3115     Waushara    WI                  40      9.6               7.6
 3116    Winnebago    WI                 364      7.5               6.1
 3117         Wood    WI                  95      7.8               3.7
 3118       Albany    WY                   7     14.4               3.7
 3119     Big Horn    WY                   4     13.2               6.2
 3120     Campbell    WY                   8      7.9               4.7
 3121       Carbon    WY                   2     12.2               8.8
 3122     Converse    WY                   3     10.5               7.5
 3123        Crook    WY                   2      8.5               0.0
 3124      Fremont    WY                   4     12.9               9.4
 3125       Goshen    WY                   6     14.6               7.7
 3126  Hot Springs    WY                   2     11.6               NaN
 3127      Johnson    WY                   2      9.6               0.0
 3128      Laramie    WY                  32      9.9               6.5
 3129      Lincoln    WY                   4      9.5               6.4
 3130      Natrona    WY                  13     12.1               4.9
 3131     Niobrara    WY                   1     14.1               NaN
 3132         Park    WY                   4     11.7               3.9
 3133       Platte    WY                   4     11.5               5.0
 3134     Sheridan    WY                  11     11.5               4.8
 3135     Sublette    WY                   1      7.7               8.7
 3136   Sweetwater    WY                   4      8.6              10.2
 3137        Teton    WY                   5      5.6               3.5
 3138        Uinta    WY                  10     10.6               7.0
 3139     Washakie    WY                   4     11.1               9.1
 3140       Weston    WY                   3      9.9              11.7

       Suicide  Total_Births  Total_Deaths
 0        16.6        3048.0        1867.0
 1        14.3        5471.0        4388.0
 2        10.3        1835.0        1538.0
 3        14.8        2801.0        2012.0
 4        14.4        3318.0        2453.0
 5     -1111.1        1604.0        1381.0
 6        11.9        2874.0        2857.0
 7        13.6        4429.0        3915.0
 8        12.8        2271.0        2424.0
 9        17.7        2659.0        2609.0
 10       13.3        2671.0        2065.0
 11        9.4        2152.0        1742.0
 12        8.9        1984.0        1444.0
 13       11.2        1748.0        1706.0
 14       30.1        1706.0        1540.0
 15       13.1        2762.0        2210.0
 16       15.1        3166.0        3087.0
 17       13.2        1872.0        1832.0
 18    -1111.1        1273.0        1174.0
 19       10.7        2247.0        2499.0
 20       11.2        1745.0        1825.0
 21        9.1        4897.0        4405.0
 22       10.8        3789.0        2259.0
 23        8.4        3767.0        2752.0
 24       10.9        4665.0        3326.0
 25        8.5        4707.0        2823.0
 26       11.0        2519.0        2151.0
 27       15.7        3810.0        4020.0
 28       12.0        2145.0        2224.0
 29       13.8        2169.0        1902.0
 ...       ...           ...           ...
 3111     11.4        1575.0        1846.0
 3112      9.8        4493.0        2572.0
 3113      8.0       13001.0        8256.0
 3114     10.5        2961.0        3352.0
 3115      9.8        2324.0        2487.0
 3116     12.5        5441.0        3870.0
 3117     11.0        4352.0        3424.0
 3118     15.6        1881.0         925.0
 3119     21.9        1440.0        1304.0
 3120     20.0        2548.0         841.0
 3121     27.9        1775.0        1400.0
 3122     20.7        1486.0         894.0
 3123     20.8         634.0         481.0
 3124     27.2        2440.0        1843.0
 3125     15.2        1419.0        1276.0
 3126     23.9         437.0         627.0
 3127     14.0         674.0         739.0
 3128     14.4        5807.0        3337.0
 3129     19.8        1907.0         983.0
 3130     23.2        4508.0        2938.0
 3131  -1111.1         254.0         307.0
 3132     17.4        1281.0        1173.0
 3133     22.2         901.0         983.0
 3134     20.5        1456.0        1455.0
 3135     20.4         656.0         467.0
 3136     27.9        2756.0        1264.0
 3137     13.1        1931.0         680.0
 3138     18.4        3186.0        1060.0
 3139     14.1         974.0         844.0
 3140     15.8         670.0         629.0

 [3004 rows x 8 columns]]

- that's better, but it still doesn't look like what we had before
- why?
- it is because we have a list element, not a dataframe

In [52]:
type(urban_rural_counties)

list

- well what happens when we just want one of the dataframes?
- is is very easy to subset lists (called slicing) using indexing, where an index represents an ordered section of the element
- let's do this, remembering that the urban counties are the first element of our list

In [53]:
urban_rural_counties[1].head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
0,Autauga,AL,82,10.4,5.9,16.6,3048.0,1867.0
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
2,Barbour,AL,32,22.1,7.1,10.3,1835.0,1538.0
3,Bibb,AL,35,16.8,9.8,14.8,2801.0,2012.0
4,Blount,AL,86,11.9,9.0,14.4,3318.0,2453.0

- what happened? we have our rural county data not our urban county data
- python is 0-index or has an origin of 0
- that means that the first element is 0, 2nd is 1, etc. up to n-1 elements

In [54]:
urban_rural_counties[0].head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
184,Alameda,CA,1964,10.7,4.8,7.6,65423.0,29143.0
190,Contra Costa,CA,1414,7.5,4.0,9.4,39653.0,20836.0
202,Los Angeles,CA,2447,17.7,5.4,7.9,457033.0,181018.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0
217,Sacramento,CA,1412,13.7,5.6,10.9,58592.0,28774.0

### Challenge
- great, but notice that we used an inflexble, arbitrary threshold for urban counties
- at some other time, you may wish to split your dataset using a different threshold
- let's code a function that allows us to do that as a last challenge

In [56]:
def split_county_by_pop(df, threshold):
    urban = df.loc[df['Population_Density'] >= threshold, :]
    rural = df.loc[df['Population_Density'] < threshold, :]
    return [urban, rural]

In [57]:
urban_rural_counties = split_county_by_pop(dem_health_data, 500)

In [58]:
urban_rural_counties[0].head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
36,Jefferson,AL,591,14.4,11.3,11.3,27118.0,21937.0
184,Alameda,CA,1964,10.7,4.8,7.6,65423.0,29143.0
190,Contra Costa,CA,1414,7.5,4.0,9.4,39653.0,20836.0
202,Los Angeles,CA,2447,17.7,5.4,7.9,457033.0,181018.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0

In [59]:
len(urban_rural_counties[0])

235

In [60]:
urban_check = urban_rural_counties[0]

In [61]:
urban_check.loc[: ,['Population_Density']].min()

Population_Density    504
dtype: int64

- awesome, we have what we need now!
- after the break, Gaurav will continue with this dataset but will teach you how to create functions use python plotting capabilities to explore and understand the data
- keep this Jupyter notebook open and Gaurav will pick up where I left off